    </main>

    <footer>
        &copy; 2019, All rights reserved.
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/jquery.toast/jquery.toast.js"></script>
    
    <script src="/js/script.js"></script>

    <div class="popup popup-short" id="popup1" style="display: none">
        <p>Are you sure you want to cancel this Order?</p>       
        <div class="popup-cta">
            <button class="btn" onclick="hide('#popup1')">No</button>
            <button class="btn red js-btn_confirm">Yes</button>
        </div>                
    </div>
    <div class="loading" id="loading" style="display: none">
        <img src="/images/loading2.gif" />
    </div>
</body>
</html>