<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Template - E-Stationary Mart</title>
    <link href="/styles/reset.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
    <link href="/styles/login.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h1 class="mt-1 login-title">E-Stationary Mart</h1>
            <div class="login">
                <form method="POST" id="login_form">
                    <input type="text" placeholder="Username" id="username" required>  
                    <input type="password" placeholder="password" id="password" required>  
                    <input type="submit" id="submit" class="js_btn-login" value="Sign In">
                </form>
            </div>
            <div class="shadow"></div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>